.toolbar-wrapper {
  -moz-user-select: none;
  background: #212121;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  display: block;
  font: 13px/1.5em 'helvetica neue',helvetica,arial,sans-serif !important;
  left: 0;
  min-width: 960px;
  position: fixed;
  right: 0;
  text-align: left !important;
  text-transform: none !important;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.toolbar-content {
  height: 50px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 10;
}
.toolbar-content ul, li {
  float: left;
  margin-right: 10px;
}
.toolbar-content a {
  color: #fff;
}
.cofree-link {
  
}
.inline-modal {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 padding-box #000;
  box-shadow: 0 0 8px #171A24;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  min-height: 100%;
  padding: 35px;
  transform: scale(0.95);
  transition: transform 0.2s linear 0s;
  vertical-align: middle;
  border-radius: 6px;
  margin: 20px auto;
  min-height: 0;
  transform: scale(1);
  z-index: 1010;
  max-height: 800px;
  overflow-y: auto;
} 
.inline-modal input,
.inline-modal select {
  color: #000;
}
.inline-modal.inline-modal-main {
  position: fixed;
  top: 40px;
  left: 20%;
  width: 100%;
  max-width: 1100px;
}
.inline-modal.inline-modal-sections {
  position: fixed;
  top: 40px;
  left: 0;
  width: 200px;
}